@*
    I've converted this page to use Regex to extract the information
    you want just in case you do need the recipe name in future, but
    you are currently not using the recipe name for anything.
    
    As such, this can be greatly simplified by just passing the ID
    as normal.
    
    Slugs really only work when you have a database backing the app
    and you can use the slug to look up the recipe in the database.
*@
@page "/recipe/{slug}"
@using RecipeMate.Models.Utilities
@model RecipeMate.Pages.RecipeDetails

@{
    ViewData["Title"] = Model.Information?.title;
}

@if (Model.Information == default)
{
    <div class="col">
        <p>There are no recipe information to display.</p>
    </div>
}
else
{
    <div class="row mt-3">
        <div class="col-md-6 col-lg-6">
            <img src="@Model.Information.image" alt="@Model.Information.title" class="img-fluid rounded w-100 border border-dark shadow-lg">
        </div>
        <div class="col-md-6 col-lg-6">
            <h1>@Model.Information.title</h1>
            <br/>
            <ul class="list-group list-group-horizontal">
                @foreach (var diet in Model.Information.diets)
                {
                    <li class="list-group-item bg-primary text-white">@diet</li>
                }
            </ul>
            <br/>
            <ul>
                <li><i class="fa-solid fa-leaf"></i> Vegan friendly? @Model.Information.vegan.ToUserFriendlyString()</li>
                <li><i class="fa-solid fa-plant-wilt"></i> Vegetarian friendly? @Model.Information.vegetarian.ToUserFriendlyString()</li>
            </ul>
            <hr/>
            @if (string.IsNullOrWhiteSpace(Model.Information.instructions))
            {
                <p style="color: #d35400;">Sorry, there is no instruction for this recipe!</p>
            }
            else
            {
                <div class="m-3 p-3" style="background-color: #ecf0f1; border-radius: 10px;">
                    @Html.Raw(@Model.Information.instructions)
                </div>
            }
        </div>
    </div>
}